:root {
    background-color: white;
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html, body, .wrapper {
    height: 100%;
}

.profile-pic {
    display: none;
}

.nav {
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-list {
    display: flex;
}

a {
    color: white;
}

.me {
    width: 50%;
}

.projects, .about {
    width: 25%;
}

.me, .projects, .about {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    font-size: 150%;
    border-left: 0.2rem solid white;
    border-right: 0.2rem solid white;
    cursor: pointer;
}

main {
    margin-top: 13%;
    width: 100%;
    height: 100%;
}

.information {
    font-size: 200%;
    padding-left: 2rem;
}

h1 {
    margin: 20% auto 10% auto;
}

.home {
    padding: 2rem;
    font-size: 2rem;
    background-color: black;
    color: white;
    border: 0.1rem solid black;
}

.about-me {
    margin: 5% 5% 5% 0%;
}

.social {
    padding: 1rem;
    font-size: 1rem;
    width: 20%;
    margin-right: 2%;
    background-color: black;
    color: white;
    border: 0.1rem solid black;
}

.my-projects {
    flex: 1 1 100%;
    padding-bottom: 1rem;
}

.my-project {
    width: 100%;
    max-width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    background-color: white;
    border: 0.1rem solid black;
}

.project-screenshot {
    width: 95%;
    margin-top: 2%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0%;
}

img {
    width: 100%;
    max-width: 768px;
}

.my-project-details {
    padding-left: 1rem;
}

.my-project-title {
    font-size: 120%;
}

.tech-icons {
    display: flex;
}

.tech-icons li {
    margin-right: 0.5rem;
}

.my-project-description {
    font-size: 100%;
}

.my-project-code, .my-project-website {
    margin-top: 3%;
    margin-bottom: 3%;
    margin-right: 5%;
    font-size: 80%;
    padding: 0.5rem;
}

.my-project-code {
    background-color: black;
    color: white;
    border: 0.1rem solid black;
}

.my-project-website {
    border: 0.1rem solid black;
    background-color: white;
}

.wireframe-box {
    width: 100%;
    height: 20rem;
    margin-bottom: 2%;
    border: 0.1rem solid black;
}

.wireframe-description {
    font-size: 125%;
}

.wireframe-project-details {
    margin-bottom: 2%;
}

@media screen and (max-width: 360px) {
    .home {
        font-size: 1.5rem;
    }

    .social {
        padding: 0.5rem;
    }
}

@media screen and (min-width: 768px) {
    section {
        display: flex;
        height: 100vh;
    }

    .nav {
        width: 24%;
        height: 100%;
        left: 0;
    }

    .nav-list {
        flex-direction: column;
        border-top: 0.2rem solid white;
        border-bottom: 0.2rem solid white;
    }

    .profile-pic {
        width: 50%;
        height: 50%;
        display: block;
        margin-top: 10%;
        margin-bottom: 10%;
        margin-left: auto;
        margin-right: auto;
    }

    .me, .projects, .about {
        display: block;
        width: 100%;
        padding: 2rem;
        font-size: 300%;
        border-top: 0.2rem solid white;
        border-bottom: 0.2rem solid white;
        border-left: 0rem;
        border-right: 0rem;
    }

    main {
        margin-top: 0%;
        margin-left: 25%;
        width: 100%;
        height: 100%;
    }

    .my-projects {
        padding-top: 3rem;
    }
}